body {
  /* width:80%;
  margin:auto; */
margin:0;
padding:0;
}

nav {
  display: flex;
  justify-content: space-between;
}

a:hover {
  color: #00b39b;
}

ul {
  list-style-type: none;
  margin: 0;
  display: flex;
  justify-content: flex-end;

  color: #00b39b;
}

li {
  padding: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

.style {
  float: right;
}

.list {
  text-decoration: none;
}

h1 {
  color: #00b39b;
  font-weight: 400;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
}

section {
  display: block;
  text-align: center;
  margin: auto;
  font-weight: 200px;
}

/* .p1{
    color:grey;
    float:left;
    font-weight: 400px;
    font-family: Arial, Helvetica, sans-serif;
} */
.section2 {
  display: flex;
  /* border: 1px solid red; */
  height: 200px;
  justify-content: space-between;
}

.section2 p {
  color: grey;
  float: left;
  font-weight: 400px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: justify;
  margin: 20px;
}

.list1 {
  color: #00b39b;
  text-decoration: none;
}

.list2 {
  color: grey;
  text-decoration: none;
}

.list3 {
  color: grey;
  text-decoration: none;
}

.container {
  display: flex;
  justify-content: space-between;

  margin: 40px;
  padding: 5%;
  height: 345px;
  width: auto;
}

.c1 {
  background-color: #00b39b;
  width: 30%;
  height: 350px;
  border-radius: 10px;
  text-transform: none;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
}
.c2{
  background-color: #00b39b;
  width: 30%;
  height: 350px;
  border-radius: 10px;
  text-transform: none;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
}
.c1 h1 {
  /* border: 1px solid red ; */
  margin: 0px;
}
.section3 .c2 {
  background-color: #3d83df;
  width: 30%;
  height: 350px;
  border-radius: 10px;
  text-transform: none;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.c3 {
  background-color: #1b2734;
  width: 30%;
  height: 350px;
  border-radius: 10px;
  text-transform: none;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.section3 h1 {
  font-weight: 200px;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  margin: 2px;
  text-align: center;
  text-align: justify;
}

h2 {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}
p {
  color: white;
}
h3 {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  text-decoration: underline;
}
h4 {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  text-decoration: underline;
}
.global {
  color: #00b39b;
  font-size: 10px;
  font-family: sans-serif;
  width: 10%;
}

i {
  /* border: 1px solid red; */
  color: white;
  padding: 20px;
  display: inline;
  text-align: justify;
}
.country {
  background: none;
  background-color: #00b39b;
  border: none;
  border-radius: 0;
  text-decoration: underline;
  color:white;
}
.section3{
  display: flex;
  width:80%;
  margin:auto;

}

.logo1 {
  width:40%;
  /* border:1px solid red; */
  height: 150px;
}
.logo1 h1 {
  color: #00b39b;

}
.logo2{
  display: flex;
  flex-wrap: wrap;
  color:grey;
}
.section4{
  /* border:1px solid red; */
  background-color:#e5faf8;
  display: flex;
  justify-content: space-around;

  
  height: 500px;
  
  
  
}
.world{
  width:50%;
}
.world h1{
  color:#00b39b;
  width: 100%;
  float:left;
  text-align: center;
  text-align: justify;
  font-size: 20px;
  /* margin:0px; */
  margin-top:2em;
}
.world p{
  color:grey;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-align: center;
  text-align: justify;
}
.a1{

  background-color: white;
  

  border-radius: 10px;

}
.countries img{
  height: auto;
}
.countries h2{
  color: #00b39b;
  font-size: 15px;
}
.countries p{
  color:grey;
}
.a2{

  background-color:white;
  
  text-align: center;
  
  border-radius: 10px;
}

  

.million img{
  height: auto;
}
.million h3{
  color: #00b39b;
  font-size: 15px;
}
.million p{
  color:grey;
}
.a3{
  
  background-color: white;
  
  text-align: center;
  
  border-radius: 10px;
}
.patients img{
  height: auto;
}
.patients h4{
  color: #00b39b;
  font-size: 15px;
}
.patients p{
  color:grey;
}
.a4{

  background-color: white;
 
  text-align: center;
 
  border-radius: 10px;
 

  
}
.doctors img{
  height: auto;
}
.doctors h5{
  color: #00b39b;
  font-size: 15px;
}
.doctors p{
  color:grey;
}

.bloc{
  display:flex;
  justify-content: space-between;
}
.item{
  height:170px;
  width:200px;
margin:15px;
padding:10px;
}
.translation{
  transform : translateY(20px);
}
.section5 {
  border:1px solid red;
  display: block;
  text-align: center;
  margin: 400;
  height:150px;
  font-weight: 200px;
}
.section5 p{
  color:grey;
}

